@model WebApplication1.Entities.Restaurant
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Home</title>
</head>
<body>
    <h3>@Model.Name</h3>
    <div>
        @Html.ActionLink("Home", "Index")
    </div>
</body>
</html>